<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.BuyersMapper">
    <resultMap id="BaseResultMap" type="com.example.demo.model.BuyersEntity">
        <id column="id" jdbcType="CHAR" property="id"/>
        <result column="name" jdbcType="CHAR" property="name"/>
        <result column="password" jdbcType="CHAR" property="password"/>
        <result column="address" jdbcType="CHAR" property="address"/>
        <result column="phone" jdbcType="CHAR" property="phone"/>
    </resultMap>
    <sql id="Base_Column_List">
        `id`
        , `name`, `password`, `address`, `phone`
    </sql>

</mapper>